@font-face {
    font-family: Roboto-Bold;
    src: url(assets/Roboto-Bold.ttf);
}

@font-face {
    font-family: Cabin;
    src: url(assets/Cabin.ttf);
}

body {
    margin: 0px;
    line-height: 1.2;
}